<div class="body">
  <div class="paglogin">
    <a routerLink="/"> <img ngSrc="assets/imagens/logo1.png" width="500" height="500"> </a>

    <section class="corpo">
      <div class="selecao">
        <input type="radio" id="login" class="rd" name="consulta" value="login" [(ngModel)]="modo" />
        <label for="login" class="slogin1">Login</label>
        <input type="radio" id="cadastro" class="rd" name="consulta" value="cadastro" [(ngModel)]="modo" />
        <label for="cadastro" class="slogin2">Cadastro</label>
      </div>

      <div class="flip-containerlc">
        <div class="flipperlc">

          <!-- LOGIN -->

          <div id="ediv1" class="onOff frontlc" *ngIf="modo === 'login'">
            <div id="box1" class="boxlc box-frontlc">
              <form action="." method="post" name="dados" onsubmit="return false;">
                <legend class="titulologin">Login</legend>

                <mat-form-field class="label" >
                <mat-label for="email" class="email">
                  E-mail: </mat-label>
                  <input class="input-padrao" type="email" name="email" matInput placeholder="name@email.com" required />
                </mat-form-field>

                <mat-form-field class="label" >
                  <mat-label for="senha" class="senha">
                    Senha: </mat-label>
                    <input class="input-padrao" type="password" name="senha" required matInput
                      [type]="hide() ? 'password' : 'text'" />

                    <button mat-icon-button matSuffix type="button" (click)="clickEvent($event)"
                      [attr.aria-label]="'Mostrar senha'">
                      <mat-icon>
                        {{ hide() ? 'visibility_off' : 'visibility' }}
                      </mat-icon>
                    </button>
                </mat-form-field>

                <div class="pbotao">
                  <input type="submit" value="Entrar" class="botaolc" name="acao" />
                </div>

                <p class="esqueci">
                  Esqueceu a senha? <a routerLink="/">Clique aqui!</a>
                </p>
              </form>
            </div>
          </div>

          <div class="onOff backlc" *ngIf="modo === 'cadastro'">
            <div class="boxlc2 box-backlc">
              <form action="." method="post" name="dados" onsubmit="return false;">
                <legend class="titulologin">Cadastro</legend>
                
                <mat-form-field class="label" >
                <mat-label for="nome" class="nome">
                  Nome: </mat-label>
                  <input class="input-padrao" type="text" name="nome" required matInput placeholder="José da Silva" required/>
                </mat-form-field>

                 <mat-form-field class="label" >
                <mat-label for="email" class="email">
                  E-mail: </mat-label>
                  <input class="input-padrao" type="email" name="email" matInput placeholder="name@email.com" required />
                </mat-form-field>

                <mat-form-field class="label" >
                  <mat-label for="senha" class="senha">
                    Senha: </mat-label>
                    <input class="input-padrao" type="password" name="senha" required matInput
                      [type]="hide() ? 'password' : 'text'" />

                    <button mat-icon-button matSuffix type="button" (click)="clickEvent($event)"
                      [attr.aria-label]="'Mostrar senha'">
                      <mat-icon>
                        {{ hide() ? 'visibility_off' : 'visibility' }}
                      </mat-icon>
                    </button>
                </mat-form-field>

                 <mat-form-field class="label" >
                  <mat-label for="senha" class="senha">
                    Repita a senha: </mat-label>
                    <input class="input-padrao" type="password" name="senha" required matInput
                      [type]="hide() ? 'password' : 'text'" />

                    <button mat-icon-button matSuffix type="button" (click)="clickEvent($event)"
                      [attr.aria-label]="'Mostrar senha'">
                      <mat-icon>
                        {{ hide() ? 'visibility_off' : 'visibility' }}
                      </mat-icon>
                    </button>
                </mat-form-field>

                <div class="pbotao">
                  <input type="submit" value="Cadastrar" class="botaolc" name="acao" />
                </div>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="rodapelc">
      <p>
        &copy; Ruth Santana |
        <a href="https://www.linkedin.com/in/ruthsantana" target="_blank">LinkedIn</a>
      </p>

      <p class="cred">
        Crédito da imagem de logo:
        <a
          href="https://br.freepik.com/vetores-gratis/logotipo-detalhado-da-viagem_9544552.htm#query=viagem%20logo&position=5&from_view=search&track=ais">Freepik</a>
      </p>
    </footer>
  </div>